<section class="login bg-main-light shadow p-5 my-5 rounded-4 w-75 m-auto">
    @if(step != 1){
    <span class="btn-outline-main"
        (click)="backStep()">
        @if(dir == "ltr"){
        <i class="fas fa-arrow-left fa-xs fa-fw"></i>
        }@else if (dir == "rtl") {
        <i class="fas fa-arrow-right fa-xs fa-fw"></i>
        }
    </span>
    }
    <h1 class="fs-2 text-center text-main mb-5 text-capitalize">{{ 'forgotPassword.title' | translate }}</h1>

    @if(step == 1){
    <form [formGroup]="verifyEmailForm"
        (ngSubmit)="verifyEmail()">
        <div class="my-3"
            [class]="{
            'form-floating': dir == 'ltr' 
            }">
            @if(dir == "rtl"){
            <label for="floatingInput"
                class="me-atuo mb-3">{{ 'forgotPassword.enterEmail' | translate }}</label>

            }

            <input type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
                name="email"
                formControlName="email"
                (change)="emailChanged()"
                [ngClass]='{
                    "is-valid": !verifyEmailForm.get("email")?.errors && (verifyEmailForm.get("email")?.touched || verifyEmailForm.get("email")?.dirty),
                    "is-invalid": verifyEmailForm.get("email")?.errors && (verifyEmailForm.get("email")?.touched || verifyEmailForm.get("email")?.dirty)
                }' />
            @if(dir == "ltr"){
            <label for="floatingInput">{{ 'forgotPassword.enterEmail' | translate }}</label>
            }
        </div>

        @if(verifyEmailForm.get("email")?.errors && (verifyEmailForm.get("email")?.touched ||
        verifyEmailForm.get("email")?.dirty)) {
        <div class="alert alert-danger w-50">
            @if(verifyEmailForm.get("email")?.getError("required")){
            <p class="m-0">{{ 'forgotPassword.emailEmpty' | translate }}</p>
            }
            @else if (verifyEmailForm.get("email")?.getError("email")){
            <p class="m-0">{{ 'forgotPassword.emailInvalid' | translate }}</p>
            }
        </div>
        }

        <button [disabled]="isLoading"
            [class]="{'disabled-btn': isLoading}"
            type="submit"
            class="btn-main m-auto d-block my-3 px-5 text-capitalize">
            @if(isLoading){
            <span><i class="fas fa-spin fa-spinner"></i></span>
            }
            @else{
            <span>{{ 'forgotPassword.getResetCode' | translate }}</span>
            }
        </button>

        @if(msgSuc){
        <p class="alert w-50 alert-success my-0 m-auto text-center text-capitalize">{{ msgSuc }}</p>
        }
    </form>
    }

    @else if(step == 2){
    <form [formGroup]="verifyCodeForm"
        class="bg-main-light rounded-4 p-3"
        (ngSubmit)="verifyResetCode()">
        <div class="my-3"
            [class]="{
            'form-floating': dir == 'ltr' 
            }">
            @if(dir == "rtl"){
            <label for="floatingInput"
                class="me-atuo mb-3">{{ 'forgotPassword.enterResetCode' | translate }}</label>
            }
            <input type="text"
                class="form-control"
                id="floatingInput"
                placeholder="01010"
                name="resetCode"
                formControlName="resetCode"
                (change)="codeChanged()"
                [ngClass]='{
                    "is-valid": !verifyCodeForm.get("resetCode")?.errors && (verifyCodeForm.get("resetCode")?.touched || verifyCodeForm.get("resetCode")?.dirty),
                    "is-invalid": verifyCodeForm.get("resetCode")?.errors && (verifyCodeForm.get("resetCode")?.touched || verifyCodeForm.get("resetCode")?.dirty)
                }' />
            @if(dir == "ltr"){
            <label for="floatingInput">{{ 'forgotPassword.enterResetCode' | translate }}</label>
            }
        </div>

        @if(verifyCodeForm.get("resetCode")?.errors && (verifyCodeForm.get("resetCode")?.touched ||
        verifyCodeForm.get("resetCode")?.dirty)) {
        <div class="alert alert-danger w-50">
            @if(verifyCodeForm.get("resetCode")?.getError("required")){
            <p class="m-0">{{ 'forgotPassword.codeEmpty' | translate }}</p>
            }
            @else if (verifyCodeForm.get("resetCode")?.invalid){
            <p class="m-0">{{ 'forgotPassword.codeInvalid' | translate }}</p>
            }
        </div>
        }

        <button [disabled]="isLoading || submitDisabled || verifyCodeForm.invalid"
            [class]="{'disabled-btn': isLoading || submitDisabled || verifyCodeForm.invalid}"
            type="submit"
            class="btn-main m-auto d-block my-3 px-5 text-capitalize">
            @if(isLoading){
            <span><i class="fas fa-spin fa-spinner"></i></span>
            }
            @else{
            <span>{{ 'forgotPassword.resetPassword' | translate }}</span>
            }
        </button>

        @if(msgSuc){
        <p class="alert w-50 alert-success my-0 m-auto text-center text-capitalize">{{ msgSuc }}</p>
        }
    </form>
    }

    @else if(step == 3){
    <form [formGroup]="resetPasswordForm"
        (ngSubmit)="resetPassword()">
        <div class="my-3"
            [class]="{
            'form-floating': dir == 'ltr' 
            }">
            @if(dir == "rtl"){
            <label for="floatingInput"
                class="me-atuo mb-3">{{ 'forgotPassword.enterEmailForVerification' | translate }}</label>

            }
            <input type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
                name="email"
                formControlName="email"
                (change)="emailChanged()"
                readonly
                [ngClass]='{
                    "is-valid": !resetPasswordForm.get("email")?.errors && (resetPasswordForm.get("email")?.touched || resetPasswordForm.get("email")?.dirty),
                    "is-invalid": resetPasswordForm.get("email")?.errors && (resetPasswordForm.get("email")?.touched || resetPasswordForm.get("email")?.dirty)
                }' />
            @if(dir == "ltr"){
            <label for="floatingInput">{{ 'forgotPassword.enterEmailForVerification' | translate }}</label>
            }
        </div>

        @if(resetPasswordForm.get("email")?.errors && (resetPasswordForm.get("email")?.touched ||
        resetPasswordForm.get("email")?.dirty)) {
        <div class="alert alert-danger w-50">
            @if(resetPasswordForm.get("email")?.getError("required")){
            <p class="m-0">{{ 'forgotPassword.emailEmpty' | translate }}</p>
            }
            @else if (resetPasswordForm.get("email")?.getError("email")){
            <p class="m-0">{{ 'forgotPassword.emailInvalid' | translate }}</p>
            }
        </div>
        }

        <div class="my-3"
            [class]="{
            'form-floating': dir == 'ltr' 
            }">
            @if(dir == "rtl"){
            <label for="floatingPassword"
                class="me-auto mb-3">{{ 'forgotPassword.newPassword' | translate }}</label>

            <div class="position-relative">

                <input [type]="passwordType"
                    class="form-control"
                    id="floatingPassword"
                    placeholder="newPassword"
                    formControlName="newPassword"
                    (change)="newPasswordChanged()"
                    name="newPassword"
                    [ngClass]='{
                    "is-valid": !resetPasswordForm.get("newPassword")?.errors && (resetPasswordForm.get("newPassword")?.touched || resetPasswordForm.get("newPassword")?.dirty),
                    "is-invalid": resetPasswordForm.get("newPassword")?.errors && (resetPasswordForm.get("newPassword")?.touched || resetPasswordForm.get("newPassword")?.dirty)
                }' />
                <div class="see-password"	[attr.dir]="dir"
                    (click)="toggleShowPassword()">
                    <i class="bi bi-eye-fill"
                        [class.d-none]="!showPassword"></i>
                    <i class="bi bi-eye-slash-fill"
                        [class.d-none]="showPassword"></i>
                </div>
            </div>
            }
            @if(dir == "ltr"){

            <input [type]="passwordType"
                class="form-control"
                id="floatingPassword"
                placeholder="newPassword"
                formControlName="newPassword"
                (change)="newPasswordChanged()"
                name="newPassword"
                [ngClass]='{
                                    "is-valid": !resetPasswordForm.get("newPassword")?.errors && (resetPasswordForm.get("newPassword")?.touched || resetPasswordForm.get("newPassword")?.dirty),
                                    "is-invalid": resetPasswordForm.get("newPassword")?.errors && (resetPasswordForm.get("newPassword")?.touched || resetPasswordForm.get("newPassword")?.dirty)
                                }' />
            <label for="floatingPassword">{{ 'forgotPassword.newPassword' | translate }}</label>
            <div class="see-password"
            [attr.dir]="dir"
                (click)="toggleShowPassword()">
                <i class="bi bi-eye-fill"
                    [class.d-none]="!showPassword"></i>
                <i class="bi bi-eye-slash-fill"
                    [class.d-none]="showPassword"></i>
            </div>

            }
        </div>

        @if(resetPasswordForm.get("newPassword")?.errors && (resetPasswordForm.get("newPassword")?.touched ||
        resetPasswordForm.get("newPassword")?.dirty)) {
        <div class="alert alert-danger w-50">
            @if(resetPasswordForm.get("newPassword")?.getError("required")){
            <p class="m-0">{{ 'forgotPassword.passwordEmpty' | translate }}</p>
            }
            @else if (resetPasswordForm.get("newPassword")?.invalid){
            <p class="m-0">{{ 'forgotPassword.passwordInvalid' | translate }}</p>
            }
        </div>
        }

        <button [disabled]="isLoading"
            [class]="{'disabled-btn': isLoading}"
            type="submit"
            class="btn-main m-auto d-block my-3 px-5 text-capitalize">
            @if(isLoading){
            <span><i class="fas fa-spin fa-spinner"></i></span>
            }
            @else{
            <span>{{ 'forgotPassword.setNewPassword' | translate }}</span>
            }
        </button>

        @if(msgSuc){
        <p class="alert w-50 alert-success my-0 m-auto text-center text-capitalize">{{ msgSuc }}</p>
        }
    </form>
    }
</section>