.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--main-color) !important;
}

/* Use !important to override Owl Carousel's default styles */
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    background-color: #333 !important;
    /* Button background */
    color: #fff !important;
    /* Button text color */
    padding: 10px !important;
    border-radius: 50% !important;
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}

.owl-carousel .owl-nav .owl-prev {
    left: -30px !important;
    /* Adjust as needed */
}

.owl-carousel .owl-nav .owl-next {
    right: -30px !important;
    /* Adjust as needed */
}

/* --------------------------Products--------------------------- */

.on-sale {
    position: relative;
    z-index: 999;
    &::after {
        content: "Sale";
        text-align: center;
        border-radius: 5px;
        background-color: var(--main-color);
        color: #fff;
        height: 20px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}

.form-control {
    &::selection {
        background-color: #15151580;
    }

    &:focus {
        box-shadow: 0 0 0 0.25rem var(--main-color-lighter) !important;

    }
}

.product-cat-title {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;

}

.cart-btn {
    transform: translateY(125%);
    transition: transform 0.3s ease-in;
}

.product {
    &:hover {
        .cart-btn {
            transform: translateY(0%);
        }
    }
}


.card {

    .card-img-top {
        display: block;
    }

    swiper-container {
        display: none;
    }

    &:hover {

        .card-img-top {
            display: none;
        }

        swiper-container {
            display: block;
        }
    }

    .card-body {
        &:hover {
            .card-text {
                transition: all 0.3s;
                color: var(--main-color);
            }
        }

        cursor: pointer;
    }
}