<section class="bg-main-light p-5 ">
    <h1 class="text-main text-center text-capitalize fs-1 my-5">{{ 'brands.allBrands' | translate }}</h1>

    <div class="d-flex my-4 align-items-center">
        <h2 class="text-capitalize mx-4 my-0">{{ 'brands.searchBrands' | translate }}</h2>
        <input type="search"
            class="form-control w-25"
            placeholder="{{ 'brands.searchPlaceholder' | translate }}"
            [(ngModel)]="searchedBrand">
        <button (click)="searchBrands(searchedBrand)"
            class="btn bi bi-search text-main mx-2"></button>
    </div>
    @if(searchBrands(searchedBrand)){

    <div class="row g-4">
        @for (brand of searchBrands(searchedBrand); track brand._id) {
        <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="d-flex rounded-4 shadow align-items-center">
                <img [src]="brand.image"
                    [alt]="brand.name"
                    width="100px" />
                <h3 class="h6 text-main  m-auto">{{ brand.name }}</h3>
            </div>
        </div>
        }
    </div>
    }
    @if(searchedBrand != "" && resultedBrands.length == 0) {
    <div class="noBrands text-center text-capitalize my-5">
        <h2 class=" text-main fs-4">{{ 'brands.noBrands' | translate }}</h2>
        <p>{{ 'brands.noBrandsMessage' | translate }}</p>
    </div>
    }
</section>