<router-outlet></router-outlet>

<ngx-spinner name="cart-loading"
    bdColor="rgba(0,0,0,0.7)"
    template="<img width='300px' style='border-radius: 30px' src='./assets/Shopping Cart Icon.gif'/>">
</ngx-spinner>
<ngx-spinner name="clear-cart"
    bdColor="rgba(0,0,0,0.7)"
    template="<img width='300px' style='border-radius: 30px' src='./assets/clear cart.png'/>">
</ngx-spinner>
<ngx-spinner name="remove-from-cart"
    bdColor="rgba(0,0,0,0.7)"
    template="<img width='300px' style='border-radius: 30px' src='./assets/remove from cart.png'/>">
</ngx-spinner>

<ngx-spinner name="enter-cart"
    bdColor="rgba(0,0,0,0.7)"
    template="
    <div style='position: relative'>
    <div class='spinner' style=' position: absolute; top: -14px; left: -14px'></div>
<img  style='border-radius: 50%; position: relative; top: 0; left: 0; @media (max-width: 576px){ img{ width: 100px; height:100px }}' src='./assets/favicon.png'/>
    </div>
">

</ngx-spinner>