.dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}

small {
    color: red;
}

.form-floating {
    position: relative;
}

.form-floating .form-control:focus~label {
    opacity: 1;
    transform: scale(.85) translateY(-0.6rem);
}